<header class="main-header">

  <nav class="nav-bar">
    <div class="logo">
      <a [routerLink]="['/']">
      <img src="assets/images/LogoTraveleef.png" alt="Logo de l'application" />
      </a>
    </div>


    <div class="ham-menu" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>


  <div class="off-screen-menu" >
    <ul>
      <li><a [routerLink]="['/']" routerLinkActive="active">Accueil</a></li>
      <li><a [routerLink]="['/recherche-voyages']" routerLinkActive="active">Recherche</a></li>
      <li>contact</li>
    </ul>

  </div>

</header>





