<div class="container">
  <div class="container">
    <div class="search-section">
      <form (ngSubmit)="submitForm()">
        <label for="departure">Départ</label>
        <input
          id="departure"
          type="text"
          placeholder="Paris, Pékin, ..."
          [(ngModel)]="formData.departure_id"
          name="departure"
          required
        />

        <label for="arrival">Arrivée</label>
        <input
          id="arrival"
          type="text"
          placeholder="Paris, Pékin, ..."
          [(ngModel)]="formData.arrival_id"
          name="arrival"
          required
        />

        <div class="dates">
          <div class="date-group">
            <label for="departure-date">Aller</label>
            <input
              id="departure-date"
              type="date"
              [(ngModel)]="formData.outbound_date"
              name="outbound_date"
              required
            />
          </div>
          <div>
            <label for="return-date">Retour</label>
            <input
              id="return-date"
              type="date"
              [(ngModel)]="formData.return_date"
              name="return_date"
            />
          </div>
        </div>

        <div class="passengers">
          <label>Passagers</label>
          <div class="passenger-types">
            <div>
              <span>Homme</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="formData.adults"
                name="adults"
                required
              />
            </div>
            <div>
              <span>Enfant</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="formData.children"
                name="children"
              />
            </div>
            <!--
            <div>
              <span>Animaux</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="formData.animals"
                name="animals"
              />
            </div>
            <div>
              <span>Mobilité réduite</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="formData.reduced_mobility"
                name="reduced_mobility"
              />
            </div>-->
          </div>
        </div>

        <button type="submit" class="btn-principal" routerLink="recherche-voyages">Rechercher</button>
      </form>
    </div>
  </div>


    <div class="recommendations">
      <h2>Nos recommandations</h2>
      <div class="recommendation-card" *ngFor="let item of recommendations">
        <img src= "accueil/public/maldive.jpg" />
        <div class="recommendation-content">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <button class="book-button">Réserver</button>
        </div>
      </div>
    </div>
  </div>
